[Desktop Entry]
Version=1.0
Type=Application
Name=Install Diyar OS
Name[ar]=تثبيت نظام ديار
GenericName=OS Installer
GenericName[ar]=مثبّت نظام التشغيل
Comment=Install Diyar OS to your hard drive
Comment[ar]=قم بتثبيت نظام ديار على القرص الصلب
Exec=sudo /usr/local/sbin/diyar-installer
Icon=diyar-installer
Terminal=true
Categories=System;
Keywords=install;setup;diyar;
StartupNotify=true
